a {
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	color: black;
	padding: 5px;
	border: 1px solid black;
	border-radius: 10px;
}

li {
	list-style-type: none;
	color: #828282;
}

input[type="submit"] {
	background: #4c4c4c;
	font-weight: bold;
	padding: 5px;
	border: none;
	border-radius: 10px;
	color: white;
}

table {
	border-collapse: collapse;
	margin-top: 10px;
}
td {
	border: 1px solid black;
	padding: 5px 10px;
}
